{% extends 'base/base.html' %}

{% block title %} {{student.name_en}} || Attendance {% endblock %}

{% block content %}
<div class="container">
    <h1>Attendance report For {{student.name_en}}</h1>

    <p>ID: {{student.student_id}}</p>
    <p>Name: <a href="{% url 'school:student_detail' student.id %}">{{student.name_en}}</a></p>
    <p>Class: {{student.class}}</p>
    <p>Section: {{student.section}}</p>
    <p>Roll No: {{student.class_roll}}</p>

    {% for a in attendance %}
    <p>Date: {{a.date}} - Attendance: {{a.status}}</p>
    {% endfor %}
</div>
{% endblock %}