{% extends 'base/base.html' %}

{% block title %}Attendance{% endblock %}

{% block content %}

<div class="container">
    <h2>All Student Attendance Report</h2>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendance_list %}
            <tr>
                <td>
                    <a href="{% url 'school:student_detail' attendance.student_assign.student_id %}">
                        {{ attendance.student_assign }}
                    </a>
                </td>
                <td>{{ attendance.date }}</td>
                {% if attendance.status == True %}
                <td>Present</td>
                {% else %}
                <td>Absent</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination justify-content-center">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>

            {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <hr>

    <a href="{% url 'school:attendance_add_any' %}" class="btn btn-primary">Add Another</a>

</div>

{% endblock %}