{% extends 'base/base.html' %}

{% block title %} {{student.student}} || Attendance {% endblock %}

{% block content %}
<div class="container">
    <h1>Attendance report For {{student.student}}</h1>
    <h2>ID: {{student.student_id}}</h2>
    <hr>

    <p>Name: <a href="{% url 'school:student_detail' student.student_id %}">{{student.student}}</a></p>
    <p>Class - Section: {{student.section}}</p>
    <p>Roll No: {{student.class_roll}}</p>
    <hr>

    <h3>Attendance:</h3>

    {% for a in attendance %}
    <p>Date: {{a.date}} - Attendance: {{a.status}}</p>
    {% endfor %}
    <hr>
    <a href="{% url 'school:attendance_add' student.student_id %}" class="btn btn-warning">Add
        Attendance for {{student.student}}</a>
</div>
{% endblock %}