<div class="fab-container">
    <div class="fab">

        <div class="fab-toggle" onclick="toggleFabOptions()">
            <i class="fas fa-gear"></i>
        </div>

        <div class="fab-options">

            <button class="fab-button" onclick="changeLanguage()">
                <i class="fas fa-globe"></i>
            </button>

            <button class="fab-button" onclick="toggleDarkMode()">
                <i id="dark-mode-icon" class="fas fa-moon"></i>
            </button>

            <button class="fab-button" onclick="scrollToTop()">
                <i class="fas fa-arrow-up"></i>
            </button>

        </div>
    </div>
</div>