<div class="container-fluid mb-2 pt-2 border shadow-sm rounded bg-success-subtle">
  <div class="row g-lg-2">
    <!-- col-1  -->
    <div class="col-lg-6">
      <!-- col-1 header  -->
      <div class="d-flex h4 fw-semibold justify-content-center ">
        Map
      </div>
      <!-- col-1 content (map) -->
      <div class="container-fluid responsive-map mb-2 rounded border border-1 border-opacity-50 border-primary">
        {% if contacts %}
        {% for contact in contacts %}
        {{ contact.map | safe }}
        {% endfor %}
        {% else %}
        <!-- Dummy data when no contacts are available -->
        <h2>No map data available</h2>
        {% endif %}
      </div>
    </div>

    <!-- col-2  -->
    <div class="col-lg-4 col-md-6">
      <div class="d-flex h4 fw-semibold justify-content-center">
        Contact
      </div>
      <div
        class="d-grid gap-2 fw-semibold bg-primary-subtle rounded mb-2 border border-1 border-opacity-50 border-primary">
        <div class="container">
          {% if contacts %}
          {% for contact in contacts %}
          <div class="d-block p-2">
            <i class="fas fa-map-marker-alt"></i> Location: {{contact.address}}
          </div>
          {% for phone in contact.phonenumber_set.all %}
          <div class="d-block p-2">
            <i class="fas fa-phone"></i> {{phone.name}} : {{phone.number}}
          </div>
          {% endfor %}
          {% for email in contact.emailaddress_set.all %}
          <div class="d-block p-2">
            <i class="fas fa-envelope"></i> {{email.name}} : {{email.email}}
          </div>
          {% endfor %}
          {% endfor %}

          {% else %}
          <!-- Dummy data when no contacts are available -->
          <div class="d-block p-2">
            <i class="fas fa-map-marker-alt"></i> Location: Dummy Address
          </div>
          <div class="d-block p-2">
            <i class="fas fa-phone"></i> Dummy Contact : 1234567890
          </div>
          <div class="d-block p-2">
            <i class="fas fa-envelope"></i> Dummy Email : dummy@example.com
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- col-3  -->
    <div class="col-lg-2 col-md-6">
      <div class="d-flex h4 fw-semibold justify-content-center">
        Useful Links
      </div>
      <!-- col-3 content (Useful Links) -->
      <div class="container">
        <div class="d-grid fw-semibold mb-2">
          {% for link in useful_links %}
          <div class="d-block">
            <i class="fa-solid fa-link text-primary"></i> <a href="{{ link.url }}" target="_blank">
              {{ link.site }}
            </a>
          </div>
          {% endfor %}
          {% if not useful_links %}
          <!-- Dummy links when no useful links are available -->
          <div class="d-block">
            <i class="fa-solid fa-link text-primary"></i> <a href="#">Dummy Link</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>