<nav class="navbar navbar-dark navbar-expand-lg" style="background-color:#1d2951;">
    <form class="d-flex px-2" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                {% for dropdown in dropdowns %}
                <li class="nav-item dropdown dropdown-hov">
                    <a class="nav-link dropdown-toggle text-white fw-bold" href="#" id="navbarDropdown1" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ dropdown.name }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <!-- NOTE: Do this for tabular data  -->
                        {% for item in dropdown.items.all %}
                        <li><a class="dropdown-item" href="{{ item.slug }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>