<div class="container-fluid bg-white border-start border-bottom border-top mb-1 shadow-sm bg-warning-subtle rounded ">
    <h2 class="text-center p-2 border-bottom fw-semibold ">Image Gallery</h2>

    <!-- Image Gallery -->
    <div class="image-gallery image-gallery-container" id="imageGalleryContainer">
        {% for image in gallery_images %}
        <div>
            <a href="{{ image.image.url }}" data-toggle="lightbox" data-gallery="mixedgallery">
                <img src="{{ image.image.url }}" alt="{{ image.title }}">
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<!-- 
   docs & ref :  
https://trvswgnr.github.io/bs5-lightbox/#mixed-gallery 

-->