<div class="container-fluid border-start border-bottom border-top mb-1 shadow-sm rounded bg-primary-subtle ">
    <h2 class="text-center fw-semibold mt-2 ">Image Gallery</h2>

    <!-- Image Gallery -->
    <div class="image-gallery image-gallery-container" id="imageGalleryContainer">
        {% for image in gallery_images %}
        <div>
            <a href="{{ image.image.url }}" data-toggle="lightbox" data-gallery="mixedgallery">
                <img src="{{ image.image.url }}" alt="{{ image.title }}" loading="lazy">
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<!-- 
   docs & ref :  
https://trvswgnr.github.io/bs5-lightbox/#mixed-gallery 

-->