<div class="h4 fw-semibold d-flex justify-content-center">
    Governance Bodies
</div>

<div class="governing-container rounded ">
    <!-- <div class="container "> -->
    {% for item in governance_bodies %}
    <div class=" mb-2 ">
        <div class="card bg-info-subtle">
            <div class="card-body">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="{{ item.image.url }}" alt="{{ item.name }}'s Image" class="img-fluid rounded"
                            style="width: 120px;" loading="lazy">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1 fw-bold ">{{ item.name }}</h5>
                        <p class="mb-2 pb-1 fw-semibold">{{ item.designation }}</p>
                        <div class="d-flex justify-content-start rounded-3 p-1 mb-1">
                            {{ item.description }}
                        </div>
                        <div class="text-end ">
                            <a href="{% url 'homepage:governance_body_detail' item.slug %}" type="button"
                                class="btn btn-primary flex-grow-3">More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- </div> -->
</div>