<div class="h4 fw-semibold d-flex justify-content-center">
    Notice
</div>

<div class="table-container position-relative mb-2 rounded">
    {% if notices %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col" class="bg-info-subtle">Date</th>
                <th scope="col" class="bg-info-subtle">Notice</th>
            </tr>
        </thead>
        <tbody>
            {% for notice in notices %}
            <tr>
                <th scope="row" class="bg-info-subtle">
                    <div class="text-nowrap">
                        {{ notice.date }}
                    </div>
                </th>
                <td class="bg-info-subtle">
                    <a href="{% url 'homepage:notice_detail' notice.slug %}"
                        class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        {{ notice.title }}
                        <i class="fa-solid fa-arrow-up-right-from-square px-2"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
    <div class="container-fluid  d-flex justify-content-center">
        <a class="btn btn-outline-danger fw-bolder " href="notices/"> See All Notice </a>
    </div>
    {% else %}

    <h3>No Notice Available Yet! </h3>

    {% endif %}
</div>