<div class="h4 fw-semibold d-flex justify-content-center">
    Latest Notice
</div>

<div class="table-container position-relative mb-2 rounded">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Notice</th>
            </tr>
        </thead>
        <tbody>
            {% for notice in notices %}
            <tr>
                <th scope="row">
                    <div class="text-nowrap">
                        {{ notice.date }}
                    </div>
                </th>
                <td>
                    <a href="{% url 'homepage:notice_detail' notice.slug %}"
                        class="link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        {{ notice.title }}
                        <i class="fa-solid fa-arrow-up-right-from-square px-2"></i>
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container-fluid  d-flex justify-content-center">
        <a class="btn btn-outline-danger fw-bolder " href="notices/"> See All Notice </a>
    </div>
</div>