<div
    class="d-flex justify-content-between align-items-center breaking-news mb-1 bg-secondary-subtle border-top border-bottom border-opacity-50 border-primary">
    <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center py-2 fw-bold px-1 news bg-danger">
        <span class="d-flex align-items-center">Important</span>
    </div>
    <marquee class="news-scroll" behavior="scroll" direction="left" onmouseover="this.stop();"
        onmouseout="this.start();">
        {% for notice in important %}

        <a href="{% url 'homepage:notice_detail' notice.slug %}">{{ notice.title}}</a>
        <span class="dot"></span>

        {% endfor %}

    </marquee>
</div>