<div class="d-flex align-items-center justify-content-between px-3">

  <div class="fw-semibold">
    <span class="d-block d-sm-inline">
      <i class="fa-sharp fa-solid fa-phone"></i>
      <a href="tel:02477701339" class="phone-number">02477701339</a>
    </span>
    <span class="d-block d-sm-inline">
      <i class="fa-solid fa-envelope"></i>
      <a href="mailto:info@turbo.edu.bd" class="email-address">info@turbo.edu.bd</a>
    </span>
  </div>

  <div class="language-picker dropdown p-1">
    <button class="btn dropdown-toggle btn-sm shadow-sm fw-semibold" type="button" id="languageDropdown"
      data-bs-toggle="dropdown" aria-expanded="false">
      Select Language
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
      <li>
        <a class="dropdown-item custom-link" href="#" onclick="changeLanguage('Bangla')">
          বাংলা
        </a>
      </li>
      <li>
        <a class="dropdown-item custom-link" href="#" onclick="changeLanguage('English')">
          English
        </a>
      </li>
    </ul>
  </div>
</div>