{% load random_image %}

{% load static %}

<!-- whatsup and login section -->

<div class="container-fluid border border-1 rounded bg-primary-subtle pt-2">

    <div class="row mt-1">
        <!-- First Column (col-lg-9) -->
        <div class="col-lg-9">

            <div class="h4 mb-2 fw-semibold ">
                What's happening
            </div>

            <div class="row g-lg-2">

                {% if whats_happening %}
                {% for item in whats_happening %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card mb-2" style="height: 350px;">
                        <img src="{{ item.image.url }}" class="d-block w-100 mx-auto rounded-top" alt="{{ item.title }}"
                            style="height: 200px; object-fit: cover;" loading="lazy">
                        <div class="card-body">
                            <div class="card-title fw-bold">{{ item.title }}</div>
                            <p class="card-text">
                                {{ item.description | truncatewords:10 }}
                                <a href="#" class="btn btn-link custom-link" target="_blank">
                                    See More
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <!-- Dummy content when no 'whats_happening' is available -->
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card mb-2" style="height: 350px;">
                        <img src="https://source.unsplash.com/random/200x200" class="d-block w-100 mx-auto rounded-top"
                            alt="Dummy Title" style="height: 200px; object-fit: cover;" loading="lazy">
                        <div class="card-body">
                            <div class="card-title fw-bold">Dummy Title</div>
                            <p class="card-text">
                                Dummy Description Lorem ipsum dolor sit amet.
                                <a href="#" class="btn btn-link custom-link" target="_blank">
                                    See More
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}

            </div>


        </div>

        <!-- Second Column (col-lg-3) -->

        <div class="col-lg-3">

            <div class="h4 mb-2 fw-semibold">
                Login
            </div>

            <div class="row g-2 pb-2 ">

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card bg-success-subtle border-dark border-1  ">
                        <img src="{% static 'assets/images/login/admin.png' %}" class="card-img-top mx-2"
                            alt="student login" loading="lazy">
                        <div class="card-body">
                            <h6 class="card-title fw-semibold ">Admin Login</h6>
                            <button type="button" class="btn btn-sm fw-semibold" data-bs-toggle="modal"
                                data-bs-target="#adminLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card bg-info-subtle border-dark border-1 ">
                        <img src="{% static 'assets/images/login/teacher.png' %}" class="card-img-top mx-2 "
                            alt="student login" loading="lazy">
                        <div class="card-body">
                            <h6 class="card-title fw-semibold ">Teacher Login</h6>
                            <button type="button" class="btn btn-sm fw-semibold" data-bs-toggle="modal"
                                data-bs-target="#teacherLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card bg-danger-subtle border-dark border-1 ">
                        <img src="{% static 'assets/images/login/student.png' %}" class="card-img-top mx-2 "
                            alt="student login" loading="lazy">
                        <div class="card-body">
                            <h6 class="card-title fw-semibold ">Student Login</h6>
                            <button type="button" class="btn btn-sm fw-semibold" data-bs-toggle="modal"
                                data-bs-target="#studentLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>