{% load random_image %}

{% load static %}

<!-- whatsup and login section -->

<div class="container-fluid bg-white border border-1 bg-info-subtle rounded">

    <div class="row mt-1">
        <!-- First Column (col-lg-9) -->
        <div class="col-lg-9 border-end">

            <div class="h4 pb-2 mb-2 fw-semibold border-bottom border-end border-1">
                What's happening :
            </div>

            <div class="row g-2">

                {% for item in whats_happening %}
                <div class="col-lg-3 col-md-6 col-sm-6">

                    <div class="card mb-2" style="height: 350px;">
                        <img src="{{ item.image.url }}" class="d-block w-100 mx-auto rounded" alt="{{ item.title }}"
                            style="height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <div class="card-title fw-bold">{{ item.title }}</div>
                            <p class="card-text">
                                {{ item.description | truncatewords:10 }}
                                <a href="#" class="btn btn-link custom-link" target=”_blank”>
                                    See More
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </p>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>

        </div>

        <!-- Second Column (col-lg-3) -->

        <div class="col-lg-3">

            <div class="h4 pb-2 mb-2 fw-semibold border-bottom border-1 ">
                Login
            </div>

            <div class="row g-2 pb-2 ">

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/admin.png' %}" class="card-img-top mx-2" alt="student login">
                        <div class="card-body">
                            <h6 class="card-title">Admin Login</h6>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#adminLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/teacher.png' %}" class="card-img-top mx-2 "
                            alt="student login">
                        <div class="card-body">
                            <h6 class="card-title">Teacher Login</h6>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#teacherLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/student.png' %}" class="card-img-top mx-2 "
                            alt="student login">
                        <div class="card-body">
                            <h6 class="card-title">Student Login</h6>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#studentLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>