<div class="row g-2">

    <div class="col-lg-6 col-md-12 mb-lg-0">
        <!-- header  -->
        <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1">
            <span class="d-flex align-items-center">Map</span>
        </div>
        <!-- map -->
        <div class="responsive-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d772.3788352487189!2d89.4893049422253!3d22.94751546755116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff994342c03e63%3A0x1d3cfc74f7fd8c4d!2z4Ka44Ka_4Kam4KeN4Kan4Ka_4Kaq4Ka-4Ka24Ka-IOCmquCngeCmsuCmv-CmqCDgpqzgpr_gprngpr7gprDgp4Ag4Kau4Ka-4Kan4KeN4Kav4Kau4Ka_4KaVIOCmrOCmv-CmpuCnjeCmr-CmvuCmsuCmr-CmvA!5e0!3m2!1sen!2sbd!4v1696795189883!5m2!1sen!2sbd"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <!-- header  -->
        <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1">
            <span class="d-flex align-items-center">Contact</span>
        </div>


    </div>

    <div class="col-lg-3 col-md-6">
        <!-- header  -->
        <div class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1">
            <span class="d-flex align-items-center">Useful Links</span>
        </div>
        <div class="mt-3">
            <h1 id="translatedText">বিশ্বাস করুন, স্কুলের জন্য একটি স্মার্ট সমাধান</h1>
        </div>


    </div>
</div>