<div class="d-flex flex-column vh-100 overflow-hidden">
    <div class="row h-100 mb-3 mx-0 overflow-hidden">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-4 h-100 p-0 m-0">
                    <div class="card h-100 border rounded bg-white">
                        <div class="card-header"> List </div>
                        <div class="card-body p-0 m-0 overflow-hidden">
                            <div class="list-group h-100 list-group-flush rounded-0">
                                <div class="h-100 scrollable overflow-auto"> Show item<br> Show item<br>
                                    Show item<br> Show item<br> Show item<br> Show item<br> Show
                                    item<br> Show item<br> Show item<br> Show item<br> Show item<br>
                                    Show item<br> Show item<br> Show item<br> Show item<br> Show
                                    item<br> Show item<br> Show item<br> Show item<br> Show item<br>
                                    Show item<br> Show item<br> Show item<br> Show item<br> Show
                                    item<br> Show item<br> Show item<br> Show item<br> Show item<br>
                                    Show item<br> Show item<br> Show item<br> Show item<br> Show
                                    item<br> Show item<br> Show item<br> Show item<br> Show item<br>
                                    Show item<br> Show item<br> Show item<br> Show item<br> Show
                                    item<br> Show item<br> Last item<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>