<style>
    /* Remove underline and set black text for links */
    .custom-link {
        text-decoration: none;
        color: rgb(0, 94, 235);
        font-weight: bold;
    }

    /* Change link color on hover */
    .custom-link:hover {
        color: #ffe600;
        /* Change to your desired hover color */
    }
</style>


<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Column 1 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="fw-bold">Column 1 Header</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="custom-link">Link 1</a></li>
                    <li><a href="#" class="custom-link">Link 2</a></li>
                    <li><a href="#" class="custom-link">Link 3</a></li>
                    <li><a href="#" class="custom-link">Link 4</a></li>
                </ul>
            </div>

            <!-- Column 2 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="fw-bold">Column 2 Header</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="custom-link">Link 5</a></li>
                    <li><a href="#" class="custom-link">Link 6</a></li>
                    <li><a href="#" class="custom-link">Link 7</a></li>
                    <li><a href="#" class="custom-link">Link 8</a></li>
                </ul>
            </div>

            <!-- Column 3 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="fw-bold">Column 3 Header</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="custom-link">Link 9</a></li>
                    <li><a href="#" class="custom-link">Link 10</a></li>
                    <li><a href="#" class="custom-link">Link 11</a></li>
                    <li><a href="#" class="custom-link">Link 12</a></li>
                </ul>
            </div>

            <!-- Column 4 -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="fw-bold">Column 4 Header</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="custom-link">Link 13</a></li>
                    <li><a href="#" class="custom-link">Link 14</a></li>
                    <li><a href="#" class="custom-link">Link 15</a></li>
                    <li><a href="#" class="custom-link">Link 16</a></li>
                </ul>
            </div>
        </div>
        <!-- Row for columns -->

        <div class="row">
            <!-- Social links (on the right) -->
            <div class="col-lg-6 col-md-12 mb-4 mb-lg-0">
                <div class="d-flex justify-content-lg-start">
                    <a href="#" class="me-4" class="custom-link"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="me-4" class="custom-link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="me-4" class="custom-link"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <!-- Copyright (on the left) -->
            <div class="col-lg-6 col-md-12 text-lg-end">
                &copy; 2023 Your Company. All rights reserved.
            </div>
        </div>
        <!-- Row for social links and copyright -->
    </div>
</footer>