<div class="container-fluid bg-white border-start border-bottom border-top mb-1 shadow-sm bg-danger-subtle"
    style="border-radius: 10px;">
    <h2 class="text-center p-2 border-bottom fw-semibold ">Image Gallery</h2>

    <!-- Image Gallery -->
    <div class="image-gallery image-gallery-container" id="imageGalleryContainer">
        {% for item in img_data %}
        <div>
            <a href="{{ item.large_img}}" data-toggle="lightbox" data-gallery="mixedgallery">
                <img src="{{ item.thumbnail}}" alt="Random Image">
            </a>
        </div>
        {% endfor %}
    </div>

</div>

<!-- 
   docs & ref :  
https://trvswgnr.github.io/bs5-lightbox/#mixed-gallery 

-->