<div class="h5 fw-semibold border-bottom border-end border-1">
    Governance Bodies :
</div>

<div class="governing-container" style="border-radius: 10px;">
    <!-- <div class="container "> -->
    {% for i in data %}
    <div class=" mb-2 ">
        <div class="card">
            <div class="card-body">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                            alt="Generic placeholder image" class="img-fluid" style="width: 120px; border-radius: 50%;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mb-1">Danny McLoan</h5>
                        <p class="mb-2 pb-1">Senior Journalist</p>
                        <div class="d-flex justify-content-start rounded-3 p-1 mb-1">
                            {% lorem 6 w %}
                        </div>
                        <div class="text-end ">
                            <button type="button" class="btn btn-primary flex-grow-3">More</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- </div> -->
</div>