{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home | Turbo School</title>

  <!-- og tags -->

  <meta property="og:title" content="Turbo School">
  <meta property="og:description" content="A brief description of Turbo School">
  <meta property="og:url" content="#">
  <meta property="og:image"
    content="https://lh3.googleusercontent.com/pw/ADCreHfpFEy3td8h5kV7HW_4w12x0lu3mEJFqq-1E0ACYm6aOjsYBwhPZs4Xs75XNR_Ne3L5fiaBrUR-wxZ1ubUlYvZdbcTCdk_bqhtWmqubzoNkdIJzTZxD2xi96VvUUsjeqosdqEp2_zxd9RlyNfYwHBg3Ow=w500-h500-s-no?authuser=0">
  <meta property="og:site_name" content="Turbo School">
  <meta property="og:locale" content="en_US">

  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static 'css/home-style.css' %}" />
</head>

<body>

  <header>
    <!-- Top Bar -->
    {% include "home/topbar.html" %}

    <!-- Banner -->
    <img src="{% static 'assets/banner-sm.png' %}" class="d-block d-sm-none img-fluid" alt="Small Screen Banner">
    <img src="{% static 'assets/banner-xl-s.png' %}" class="d-none d-sm-block img-fluid" alt="Large Screen Banner">
    <!-- <img src="media/assets/home/banner-big.png" class="d-none d-sm-block img-fluid" alt="Large Screen Banner"> -->



    <!-- Dropdown Navigation -->
    {% include "home/_dropdown-nav.html" %}

    <!-- Ticker -->
    {% include "home/ticker.html" %}

    <div class="container-fluid mb-2" style="background-color: 	#1d2951;">
      <div class="row g-1">
        <!-- First Column (6 columns wide on extra-large screens, 12 columns on smaller screens) -->
        <div class="col-lg-8">
          <!-- Content for the first column goes here -->

          <!-- Carousel -->
          <div class="container-fluid pt-2 pb-2">
            {% include "home/carousel.html" %}
          </div>
        </div>

        <!-- Second Column (3 columns wide on extra-large screens, 12 columns on smaller screens) -->
        <div class="col-lg-4 col-md-12">
          <!-- Content for the second column goes here -->
          <div class="row">

            {% include "home/mission.html" %}

          </div>

        </div>
      </div>
    </div>

  </header>

  <main>

    <div class="container-fluid">

      <div class="accordion mb-2" id="accordionExampleFour">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              <span class="fw-bold">
                Notice and Governing Body
              </span>
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body bg-success-subtle">

              <div class="row mt-1">
                <div class="col-lg-8 col-md-6 col-12 border-end">
                  <!-- Your notices content here -->
                  {% include "home/_notice.html" %}
                </div>

                <!-- Governing -->
                <div class="col-lg-4 col-md-6 col-12">
                  <!-- Your governing content here -->
                  {% include "home/_governance_body.html" %}
                </div>
              </div>
              <!-- </div> -->

            </div>
          </div>
        </div>
      </div>

      <!-- contact and location info -->
      {% include "home/_contacts.html" %}

      <!-- gallery -->
      {% include "home/gallery.html" %}

      <!-- statistics  -->
      {% include "home/stat.html" %}

      <!-- whats happening and login section  -->
      {% include "home/whatsup.html" %}

      <!-- org and achievements section  -->
      {% include "home/achievement.html" %}


    </div>

  </main>

  <!-- footer  -->
  {% include "home/footer.html" %}

  <!-- Scroll-to-top button -->
  <button id="scrollToTopBtn" class="btn btn-primary" title="Go to top">
    <i class="fas fa-arrow-up"></i>
  </button>

  <!-- Floating Language Button -->
  <div class="floating-language-button">
    <button class="btn btn-warning" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa-solid fa-globe"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
      <li>
        <a class="dropdown-item" href="#" onclick="changeLanguage('Bangla')">
          Bangla
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="#" onclick="changeLanguage('English')">
          English
        </a>
      </li>
    </ul>
  </div>

  <!-- modals  -->
  {% include "home/modals.html" %}
  <!-- scripts  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/home-script.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>

</body>

</html>