<div class="container-fluid mb-2 border bg-info-subtle " style="border-radius: 10px;">
    <div class="row text-center">
        <div class="col-md-3">
            <div class="stat-card">
                <i class="fas fa-user"></i>
                <div class="h4">Students</div>
                <p class="count">600</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <i class="fas fa-chalkboard"></i>
                <div class="h4">Total Class</div>
                <p class="count">6</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <i class="fas fa-chalkboard-teacher"></i>
                <div class="h4">Teachers</div>
                <p class="count">15</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <i class="fas fa-graduation-cap"></i>
                <div class="h4">Students Passed</div>
                <p class="count">15,900</p>
            </div>
        </div>
    </div>
</div>