<div class="container-fluid border mb-1 bg-white shadow-sm" style="border-radius: 10px;">
    <div class="row text-center">
        <div class="col-md-3">
            <div class="stat-card">
                <h3>Current Students</h3>
                <p class="count">600</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <h3>Class Number</h3>
                <p class="count">6</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <h3>Teacher Number</h3>
                <p class="count">15</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="stat-card">
                <h3>Total Students Passed</h3>
                <p class="count">15,900</p>
            </div>
        </div>
    </div>
</div>