{% load random_image %}

{% load static %}

<!-- whatsup and login section -->

<div class="container-fluid bg-white border border-1 bg-info-subtle" style="border-radius: 10px;">
    <div class="row mt-1">
        <!-- First Column (col-lg-9) -->
        <div class="col-lg-9 border-end">

            <div class="h4 pb-2 mb-2 fw-semibold border-bottom border-end border-1">
                What's happening :
            </div>

            <div class="row g-2">

                {% for item in whatsHappening %}
                <!-- Sub-column {{ item.id }} -->
                <div class="col-lg-3 col-md-6 col-sm-6">

                    <div class="card mb-2" style="height: 308px;">
                        <img src="{{ item.image }}" class="card-img-top card-img-custom" alt="Image">
                        <div class="card-body">
                            <p class="card-text">
                                {{ item.description }}
                            </p>
                        </div>
                        <div class="text-end">
                            <a href="{{ item.url }}" class="btn btn-link custom-link p-3" target=”_blank”>
                                See More
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </a>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>

        </div>

        <!-- Second Column (col-lg-3) -->

        <div class="col-lg-3 pb-2 ">

            <div class="h4 pb-2 mb-2 fw-semibold border-bottom border-1 ">
                Login
            </div>

            <div class="row g-2">

                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/admin.png' %}" class="card-img-top mx-2 " alt="student login">
                        <div class="card-body">
                            <h5 class="">Admin Login</h5>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#adminLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/teacher.png' %}" class="card-img-top mx-2 "
                            alt="student login">
                        <div class="card-body">
                            <h5 class="">Teacher Login</h5>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#teacherLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-4">

                    <div class="card login-card">
                        <img src="{% static 'images/login/student.png' %}" class="card-img-top mx-2 "
                            alt="student login">
                        <div class="card-body">
                            <h5 class="">Student Login</h5>
                            <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal"
                                data-bs-target="#studentLoginModal">
                                Login
                                <i class="fa-solid fa-right-to-bracket"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>