{% extends 'base/base.html' %}


{% block content %}
<div class="container">

    <h1>All Notice: </h1>
    <div class="table-container position-relative mb-2 rounded">
        <table class="table">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Notice</th>
                </tr>
            </thead>
            <tbody style="background-color: #FFF3CD;">
                {% for notice in notices %}
                <tr>
                    <th scope="row">
                        <div class="text-nowrap">
                            {{ notice.date }}
                        </div>
                    </th>
                    <td>
                        <a href="{% url 'homepage:notice_detail' notice.slug %}"
                            class="link-success link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                            {{ notice.title }}
                            <!-- TODO: compare important tag to show it -->
                            {% if notice.tags %}
                            {% for tag in notice.tags.all %}
                            {% if 'important' == tag %}
                            <span class="badge">Important</span>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            <i class="fa-solid fa-arrow-up-right-from-square px-2"></i>

                        </a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        {% include "home/_pagination.html" %}
        {% endif %}

    </div>
    {% endblock %}