{% extends 'dashboard/dashboard.html' %}

{% block title %} All Sections {% endblock %}

{% block content %}
<h1> All Sections </h1>

{% if sections %}
<table class="table table-striped text-center table-bordered">
    <thead>
        <tr>
            <th>Class</th>
            <th>Section Name</th>
            <th>Class Teacher</th>
            <th>Section Description</th>
            <th>Section Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for section in sections %}
        <tr>
            <td>{{ section.class_name }}</td>
            <td>{{ section.name }}</td>
            <td>{{ section.class_teacher }}</td>
            <td>{{ section.description }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'dashboard:section_detail' section.id %}">Details</a>
            </td>
        </tr>
        {% endfor %}
</table>
{% else %}
<h2>No Section Assigned Yet ! </h2>
<a class="btn btn-primary" href="{% url 'dashboard:section_new'%}">Assign+</a>
{% endif %}

{% endblock %}