{% extends 'dashboard/dashboard.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="table-container position-relative mb-2 mt-2">
    {% if notices %}

    <h1>All Notice: </h1>

    <div class="dropdown">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filter
        </button>
        <ul class="dropdown-menu">
            {% for tag in tag_list %}
            <li><a class="dropdown-item" href="{% url 'dashboard:notice_list' %}?filter={{ tag }}">{{ tag }}</a>
            </li>
            {% endfor %}

        </ul>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Notice</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for notice in notices %}
            <tr>
                <th scope="row">
                    <div class="text-nowrap">
                        {{ notice.date }}
                    </div>
                </th>
                <td>
                    {{ notice.title }}

                </td>

                <th scope="row">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Action
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="{% url 'dashboard:notice_detail' notice.slug %}">View</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'dashboard:notice_update' notice.slug %}">Edit</a>
                            </li>
                        </ul>
                    </div>
                </th>

            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    {% include "home/_pagination.html" %}
    {% endif %}

    {% else %}
    <h3>No Notices has been added yet! </h3>
    Add one <a href="{% url 'dashboard:notice_create' %}" class="btn btn-sm btn-primary">Add + </a>
    {% endif %}
</div>
{% endblock %}