{% extends 'dashboard/dashboard.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container">

    <h1>All Notice: </h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filter
        </button>
        <ul class="dropdown-menu">
            {% for tag in tag_list %}
            <li><a class="dropdown-item" href="{% url 'dashboard:notice_list' %}?filter={{ tag }}">{{ tag }}</a>
            </li>
            {% endfor %}

        </ul>
    </div>

    <div class="table-container position-relative mb-2 rounded">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Notice</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for notice in notices %}
                <tr>
                    <th scope="row">
                        <div class="text-nowrap">
                            {{ notice.date }}
                        </div>
                    </th>
                    <td>
                        {{ notice.title }}

                    </td>

                    <th scope="row">
                        <div class="btn-group" role="group" aria-label="View and Update button">

                            <a href="{% url 'dashboard:notice_detail' notice.slug %}"
                                class="btn btn-sm btn-primary ">View</a>

                            <a href="{% url 'dashboard:notice_update' notice.slug %}"
                                class="btn btn-sm btn-warning ">Update</a>

                        </div>
                    </th>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_paginated %}
        {% include "home/_pagination.html" %}
        {% endif %}

    </div>
    {% endblock %}