{% extends 'dashboard/dashboard.html' %}


{% block content %}
<div class="h2 mt-2 ">
    Notice : {{ notice.title }}
</div>
<div class="fw-lighter ">
    Date : {{ notice.date }}
</div>
<div class="p-2 border rounded ">
    {{ notice.description | safe }}
</div>
<hr>
<div class="rounded p-3">
    {% if notice.attachment.name %}
    Attachments: {{ notice.attachment }}
    <a class="btn btn-link " href="{{ notice.attachment.url }}"> Download </a>
    {% else %}
    <p><em> This notice has no <strong>Attachments</strong></em></p>
    {% endif %}
</div>
<hr>

<div class="row mb-2">
    <div class="col p-2">
        {% if notice.tags.all %}
        Tags:
        {% for notice_tag in notice.tags.all %}
        <a href="{% url 'dashboard:notice_list' %}?filter={{ notice_tag }}" class="btn btn-sm btn-success">
            {{ notice_tag }}
        </a>
        {% endfor %}
        {% else %}
        No Tags Included
        {% endif %}
    </div>
</div>

<a href="{% url 'dashboard:notice_update' notice.slug %}" class="btn btn-warning ">Update</a>

<!-- <a href="{% url 'dashboard:notice_delete' notice.slug %}" class="btn btn-danger ">Delete</a> -->

<!-- Button that opens a modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete_item">
    Delete
</button>

<!-- Modal -->
<div class="modal fade" id="delete_item" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="delete_item_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete_item_label">Delete {{ object }}?</h5>
            </div>

            <form action="{% url 'dashboard:notice_delete' notice.slug %}" method="post">
                {% csrf_token %}

                <div class="modal-body">
                    <p>Are you sure you want to delete "{{ object }}"?</p>
                    {{ form }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" value="Confirm">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}