{% extends 'dashboard/dashboard.html' %}

{% block title %} Subject List {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid ">
    <h2>Subject List</h2>

    <ul class="list-group">
        {% for subject in subjects %}

        <li class="list-group-item d-block justify-content-center ">
            <h4> {{ subject.title }} </h4>
        </li>

        {% endfor %}
    </ul>

    <hr>
    <a class="btn btn-primary btn-sm" href="{% url 'dashboard:subject_new' %}">Add A Subject +
    </a>

</div>
{% endblock %}