{% extends 'dashboard/dashboard.html' %}

{% block title %} Attendance {% endblock %}

{% block content %}

<div class="container-fluid ">
    <h1 class="mt-3">Attendance Index</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Take Attendance for a Student</h5>
            <p class="card-text">Click the button below to take attendance for a specific student.</p>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Add or Update Attendance
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add or Update Attendance</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="#" method="post">


                                <div class="modal-body">



                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger" value="Confirm">Delete</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Take Attendance for a Section</h5>
            <p class="card-text">Click the button below to take attendance for an entire section.</p>


            <table class="table">
                <thead>
                    <tr>
                        <th>Class Name</th>
                        <th>Section Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                        <td>{{ section.class_name }}</td>
                        <td>{{ section.name }}</td>
                        <td>
                            <a href="{% url 'dashboard:section_attendance_add' section.id %}"
                                class="btn btn-sm btn-outline-danger">Attendance</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}