{% extends 'dashboard/dashboard.html' %}

{% block title %} Take Section Attendance {% endblock %}

{% load custom_filters %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <h4>Attendance for {{ section.class_name }} - {{ section.get_name_display }}</h4>

    {% if request.GET.date %}
    <div class="alert alert-info" role="alert">
      Showing Results for {{ request.GET.date }}
    </div>
    {% else %}
    <h5>
      <span class="text-success">
        Today ({{ date }})
      </span>
    </h5>
    {% endif %}

    <form action="" method="GET" class="row g-2 mb-2">
      <div class="col-auto fw-bold text-danger">
        <label for="date">FILTER: </label>
      </div>

      <div class="col-auto">
        <input type="date" id="date" name="date" class="form-control form-control-sm" value="{{ date }}">
      </div>

      <div class="col-auto">
        <input type="submit" value="Apply Filter" class="btn btn-sm btn-success">
      </div>


      {% if request.GET.date %}
      <div class="col-auto">
        <a href="?" class="btn btn-sm btn-warning ">Reset Filter</a>
      </div>
      {% endif %}

    </form>
  </div>

  <div class="row">

    {% if is_offday.offday %}
    <h3>This is an off day!.</h3>
    {% elif is_offday.friday %}
    <h3>This is a Friday. Offday!</h3>
    {% elif is_offday.saturday %}
    <h3>This is a Saturday. Offday!</h3>
    {% else %}

    <table class="table table-striped text-center ">
      <thead>
        <tr>
          <th>Class Roll</th>
          <th>Student Name</th>
          <th>Attendance Status</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
        <tr>
          <td>{{ student.class_roll }}</td>
          <td>
            {{ student.student.name_en }}
          </td>
          <td class="status{{ student.class_roll }}" id="status">

            {% with attendance=attendances|get_by_student:student %}

            {% if attendance %}

            {% if attendance.status == True %}
            <button class="btn btn-sm btn-success " onclick="updateAttendance('{{ student.id }}', 'True')">
              <i class="fa-solid fa-circle-check text-light"></i>
            </button>

            <button class="btn btn-sm btn-danger " onclick="updateAttendance('{{ student.id }}', 'False')"></button>

            {% elif attendance.status == False %}
            <button class="btn btn-sm btn-success " onclick="updateAttendance('{{ student.id }}', 'True')"></button>

            <button class="btn btn-sm btn-danger " onclick="updateAttendance('{{ student.id }}', 'False')">
              <i class="fa-solid fa-circle-xmark text-light"></i>
            </button>

            {% else %}

            {{attendance.status}}

            {% endif %}

            {% else %}

            <button class="btn btn-sm btn-success " onclick="updateAttendance('{{ student.id }}', 'True')">
              <i class="fa-solid fa-circle-check text-light"></i>
            </button>

            <button class="btn btn-sm btn-danger " onclick="updateAttendance('{{ student.id }}', 'False')">
              <i class="fa-solid fa-circle-xmark text-light"></i>
            </button>

            {% endif %}

            {% endwith %}

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if request.GET.date %}
  <a href="{% url 'dashboard:section_attendance_detail' section.id %}?date={{date}}" class="btn btn-sm btn-success ">
    See Report </a>
  {% else %}
  <a href="{% url 'dashboard:section_attendance_detail' section.id %}" class="btn btn-sm btn-success ">
    See Report </a>
  {% endif %}
  <script>
    // Function to get the CSRF token from cookies
    function getCSRFToken() {
      const csrfCookie = document.cookie.split(';').find(c => c.trim().startsWith('csrftoken='));
      return csrfCookie ? csrfCookie.split('=')[1] : null;
    }

    function updateAttendance(studentId, status) {
      const csrfToken = getCSRFToken();

      $.ajax({
        url: '{% url "dashboard:section_student_attendance_new" %}',
        method: 'POST',
        headers: {
          'X-CSRFToken': csrfToken,
        },
        data: {
          student_id: studentId,
          date: '{{ date }}',
          status: status
        },
        success: function (data) {
          console.log(data);

          // Assuming data is a boolean value (True or False)
          if (data.status == "True") {
            // If the value is True, add a check mark to the button
            $(".status" + data.class_roll + ' .btn-success').html('<i class="fa-solid fa-circle-check text-light"></i>');
            $(".status" + data.class_roll + ' .btn-danger').html('');
          } else {
            // If the value is False, add an x mark to the button
            $(".status" + data.class_roll + ' .btn-success').html('');
            $(".status" + data.class_roll + ' .btn-danger').html('<i class="fa-solid fa-circle-xmark text-light"></i>');
          }
        },
        error: function (error) {
          console.error(error);
        }
      });
    }
  </script>

  {% endif %}
</div>

{% endblock %}