{% extends 'dashboard/dashboard.html' %}
{% load custom_filters %}

{% block title %} Attendance report {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <h3>Section-wise Attendance Report</h3>
        <form action="" method="GET" class="row g-2 mb-2">
            <div class="col-auto fw-bold text-danger">
                <label for="date">FILTER: </label>
            </div>

            <div class="col-auto">
                <input type="date" id="date" name="date" class="form-control form-control-sm">
            </div>
            <div class="col-auto">
                <input type="submit" value="Apply Filter" class="btn btn-sm btn-success">
            </div>


            {% if request.GET.date %}
            <div class="col-auto">
                <a href="?" class="btn btn-sm btn-warning ">Reset Filter</a>
            </div>
            {% endif %}

        </form>

        {% if request.GET.date %}
        <div class="alert alert-info" role="alert">
            Showing Results for {{ request.GET.date }}
        </div>
        {% endif %}

    </div>

    <div class="row">

        <table class="table table-striped">
            <tr>
                <th>Section</th>
                <th class="text-info">Total Students</th>
                <th class="text-success">Present</th>
                <th class="text-danger">Absent</th>
            </tr>
            {% for data in section_attendance_data %}
            <tr>
                <td class="text-nowrap">
                    <a href="{% url 'dashboard:section_detail' data.section.id %}" class="text-decoration-none ">
                        {{data.section.class_name}} - {{ data.section.get_name_display}}
                    </a>
                </td>
                <td>{{ data.total_students }}</td>
                <td>{{ data.present_count }}</td>
                <td>{{ data.total_students|subtract:data.present_count }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}