{% extends 'dashboard/dashboard.html' %}

{% load custom_filters %}

{% block title %} Student Attendance Report {% endblock %}

{% block content %}

<div class="container-fluid">

    <form action="" method="get" class="row g-3 bg-success-subtle rounded mt-1 mb-2 p-2">

        <div class="col-md-6">
            <label for="id_month" class="form-label">Month:</label>
            <select name="month" id="id_month" class="form-select" aria-label="Month select">

                {% for month_number, month_name in months.items %}

                <option value="{{ month_number }}" {% if month_number == request.GET.month %} selected {% elif not
                    request.GET.month and month_number == current_month %} selected {% endif %}>

                    {{ month_name }}

                </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-md-6">

            <label for="id_year" class="form-label">Year:</label>
            <input type="year" name="year" id="id_year"
                value="{% if request.GET.year %}{{request.GET.year}}{% else %}{{ current_year }}{% endif %}"
                min="1900" max="2100" class="form-control" aria-describedby="year">

        </div>

        <div class="col-md-12 d-flex">
            <input type="submit" value="Apply Filter" class="btn btn-sm btn-success me-2">
            {% if request.GET.month or request.GET.year %}
            <div class="col-auto">
                <a href="?" class="btn btn-sm btn-warning ">Reset Filter</a>
            </div>
            {% endif %}
        </div>
    </form>

    {% if request.GET.month and request.GET.year %}
    <div class="alert alert-info" role="alert">
        Showing Results for {{ request.GET.month|month_name }} - {{ request.GET.year }}
    </div>
    {% else %}
    <h5> <span class="text-success">Current: </span> {{ current_month|month_name }} - {{ current_year }} </h5>
    {% endif %}


    <style>
        .calendar {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          gap: 5px;
        }
      
        .day {
          text-align: center;
          border: 1px solid #ddd;
          padding: 5px;
        }
      
        .present {
          color: green;
        }
      
        .absent {
          color: red;
        }
      
        .not-recorded {
          color: gray;
        }
      </style>
      
      <h3>Attendance Report for <span class="text-info-emphasis">{{student.name_en}}</span></h3>
      
      <div class="calendar">
        {% if attendances %}
          {% for attendance in attendances %}
            <div class="day">
              {{ attendance.date|date:"D d " }}<br>
              {% if attendance.status == True %}
                <i class="fa-solid fa-circle-check text-success present"></i> Present
              {% elif attendance.status == False %}
                <i class="fa-solid fa-circle-xmark text-danger absent"></i> Absent
              {% else %}
                <span class="not-recorded">Not Recorded</span>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <p>No attendance data available.</p>
        {% endif %}
      </div>
      


</div>

{% endblock %}