<style>
    .fab-menu a {
        text-decoration: none;
    }

    .fab-menu {
        position: fixed;
        right: 40px;
        bottom: 35px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .menu-box {
        position: relative;
        border: 2px dashed orange;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.4;
    }

    .menu-circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 20px;
        height: 20px;
        background-color: orange;
        border-radius: 50%;
        transition: 0.4s;
    }

    .menu-box:hover .menu-circle {
        transform: scale(1.1);
        transition: 0.2s;
    }

    .menu-items {
        position: relative;
        right: 0;
        margin: 0;
        padding: 4px;
        border-radius: 10px;
        text-align: center;
        transform: translateY(-40%) scale(0) translateX(-30%);
        transition: 0.4s;
        display: inline-block;
        vertical-align: middle;
    }


    .menu-items li {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        list-style: none;
        margin: 3px;
        background-color: blue;
    }

    .menu-items li:hover {
        background-color: gray;
    }

    .menu-items a {
        color: #fff;
        line-height: 1.5;
    }

    .fab-menu input {
        position: absolute;
        left: -1000rem;
    }

    .fab-menu input:checked+.menu-box {
        border: 2px dashed rgba(0, 0, 0, 0.9);
        transition: 0.4s;
    }

    .fab-menu input:checked+.menu-box .menu-circle {
        background-color: rgba(0, 0, 0, 0.95);
        transition: 0.4s;
    }

    .fab-menu input:checked+.menu-box .menu-items {
        transform: translateY(-100%) scale(1) translateX(-20%);
        transition: 0.4s;
    }
</style>



<label class="fab-menu">
    <input type="checkbox">
    <div class="menu-box">
        <div class="menu-circle"></div>
        <ul class="menu-items">
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
            <li>
                <a href=""></a>
            </li>
        </ul>
    </div>
</label>