<style>
    .btn-group-fab {
        position: fixed;
        width: 50px;
        height: auto;
        right: 20px;
        bottom: 20px;
    }

    .btn-group-fab div {
        position: relative;
        width: 100%;
        height: auto;
    }

    .btn-group-fab .btn {
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        margin-bottom: 4px;
        width: 40px;
        height: 40px;
        /* margin: 4px auto; */
    }

    .btn-group-fab .btn-main {
        width: 41px;
        height: 41px;
        right: 50%;
        margin-right: -20x;
        z-index: 9;
    }

    .btn-group-fab .btn-sub {
        bottom: 0;
        z-index: 8;
        right: 50%;
        margin-right: 0;
        -webkit-transition: all 2s;
        transition: all 0.5s;
    }

    .btn-group-fab.active .btn-sub:nth-child(2) {
        bottom: 45px;
    }

    .btn-group-fab.active .btn-sub:nth-child(3) {
        bottom: 90px;
    }

    .btn-group-fab.active .btn-sub:nth-child(4) {
        bottom: 135px;
    }

    /* use it if you have more item  */

    /* .btn-group-fab .btn-sub:nth-child(5) {
        bottom: 180px;
    } */
</style>



<div class="btn-group-fab" role="group" aria-label="FAB Menu">

    <div class="text-center ">

        <button type="button"
            class="btn btn-main btn-primary d-flex justify-content-center align-items-center has-tooltip"
            data-placement="left" title="Menu">
            <i class="fa fa-bars"></i>
        </button>

        <button type="button"
            class="btn btn-sub btn-warning d-flex justify-content-center align-items-center has-tooltip"
            data-placement="left" title="Top" onclick="scrollToTop()">
            <i class="fa-solid fa-arrow-turn-up"></i>
        </button>

        <button type="button"
            class="btn btn-sub btn-danger d-flex justify-content-center align-items-center has-tooltip"
            data-placement="left" title="Theme" onclick="toggleDarkMode()">
            <i id="dark-mode-icon" class="fa-solid fa-moon"></i>
        </button>

        <a href="/" class="btn btn-sub btn-info d-flex justify-content-center align-items-center has-tooltip"
            data-placement="left" title="Home">
            <i class="fa-solid fa-house"></i>
        </a>



    </div>
</div>

<script>

    $(function () {
        $('.btn-group-fab').on('click', '.btn-main', function () {
            $('.btn-group-fab').toggleClass('active');
        });
        $('has-tooltip').tooltip();
    });

    // Add an event listener to close FAB options when clicking outside
    document.body.addEventListener("click", function (event) {
        var fabToggle = document.querySelector(".btn-group-fab");

        if (fabToggle.classList.contains("active") && !event.target.closest(".btn-group-fab")) {
            fabToggle.classList.remove("active");
        }
    });


</script>