<style>
    .fab-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 1000;
    }

    .fab-wrapper .fab {
        background: #30444f;
        width: 40px;
        height: 40px;
        /* position: relative; */
        z-index: 3;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        animation: fab-animation-reverse 0.4s ease-out forwards;
    }

    .fab-wrapper .fab::before,
    .fab-wrapper .fab::after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 4px;
        background: #fff;
    }

    .fab-wrapper .fab::before {
        width: 4px;
        height: 18px;
    }

    .fab-wrapper .fab::after {
        width: 18px;
        height: 4px;
    }

    .fab-wrapper .fac {
        width: 38px;
        height: 150px;
        border-radius: 64px;
        position: absolute;
        z-index: 2;
        padding: 0.5rem 0.5rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        opacity: 0;
        top: -110px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
    }

    .fab-wrapper .fac a {
        color: #5c13e4;
        opacity: 0.8;
    }

    .fab-wrapper .fac a:hover {
        transition: 0.2s;
        opacity: 1;
        color: #30444f;
    }

    .fab-wrapper input {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        position: absolute;
        z-index: 5;
        opacity: 0;
    }

    .fab-wrapper input:checked~.fab {
        animation: fab-animation 0.4s ease-out forwards;
    }

    .fab-wrapper input:checked~.fac {
        width: 38px;
        height: 150px;
        animation: fac-animation 0.4s ease-out forwards 0.1s;
        top: -180px;
        opacity: 1;
    }

    @keyframes fab-animation {
        0% {
            transform: rotate(0) scale(1);
        }

        20% {
            transform: rotate(60deg) scale(0.93);
        }

        55% {
            transform: rotate(35deg) scale(0.97);
        }

        80% {
            transform: rotate(48deg) scale(0.94);
        }

        100% {
            transform: rotate(45deg) scale(0.95);
        }
    }

    @keyframes fab-animation-reverse {
        0% {
            transform: rotate(45deg) scale(0.95);
        }

        20% {
            transform: rotate(-15deg);
        }

        55% {
            transform: rotate(10deg);
        }

        80% {
            transform: rotate(-3deg);
        }

        100% {
            transform: rotate(0) scale(1);
        }
    }

    @keyframes fac-animation {
        0% {
            transform: scale(1, 1);
        }

        33% {
            transform: scale(0.95, 1.05);
        }

        66% {
            transform: scale(1.05, 0.95);
        }

        100% {
            transform: scale(1, 1);
        }
    }
</style>

<div class="fab-wrapper">
    <input type="checkbox" />
    <div class="fab"></div>
    <div class="fac bg-body-tertiary ">

        <a onclick="toggleDarkMode()">
            <i id="dark-mode-icon" class="fas fa-moon"></i>
        </a>

        <a onclick="scrollToTop()">
            <i class="fas fa-arrow-up"></i>
        </a>

        <a href="{% url 'homepage:home' %}">
            <i class="fa-solid fa-house"></i>
        </a>

    </div>
</div>