<aside id="sidebar" class="border-end shadow-sm bg-body-tertiary">

    <!-- ======== Content For Sidebar ========-->
    <div class="h-100">

        <!-- <div class="sidebar-logo">
            <a href="#"> Turbo Admin Panel </a>
        </div> -->

        <ul class="sidebar-nav">

            <li class="sidebar-header">
                Admin elements
            </li>


            <!-- ======= Navigation links for sidebar ======== -->
            <li class="sidebar-item">
                <a href="{% url 'dashboard:dashboard' %}" class="sidebar-link">
                    <i class="fa-solid fa-chart-line"></i> Dashboard
                </a>
            </li>

            <li class="sidebar-item">
                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                    aria-expanded="false">
                    <i class="fa-regular fa-file-lines"></i> Notice
                </a>

                <ul id="pages" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                    data-bs-parent="#sidebar">
                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:notice_list' %}" class="sidebar-link">
                            Notice List
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:notice_create' %}" class="sidebar-link">
                            New Notice +
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-item">

                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#student"
                    aria-expanded="false">
                    <i class="fa-solid fa-graduation-cap"></i> Student Management
                </a>

                <ul id="student" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                    data-bs-parent="#sidebar">

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:student_list' %}" class="sidebar-link">
                            Student List
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:student_assign' %}" class="sidebar-link">
                            Student Assign
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:student_new' %}" class="sidebar-link">
                            Add Student +
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-item">

                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#teacher"
                    aria-expanded="false">
                    <i class="fa-solid fa-chalkboard-user"></i> Teacher Management
                </a>

                <ul id="teacher" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                    data-bs-parent="#sidebar">

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:teacher_list' %}" class="sidebar-link">
                            Teacher List
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:teacher_new' %}" class="sidebar-link">
                            Add Teacher +
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-item">

                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#classAndSection"
                    aria-expanded="false">

                    <i class="fa-solid fa-person-chalkboard"></i> Class And Section

                </a>

                <ul id="classAndSection" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                    data-bs-parent="#sidebar">


                    <li class="sidebar-item">

                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#class"
                            aria-expanded="false">
                            Class
                        </a>

                        <ul id="class" class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#classAndSection">

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:class_list' %}" class="sidebar-link">
                                    Class List
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:class_new' %}" class="sidebar-link">
                                    Add Class +
                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class="sidebar-item">

                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#section"
                            aria-expanded="false">
                            Section
                        </a>

                        <ul id="section" class="sidebar-dropdown list-unstyled collapse"
                            data-bs-parent="#classAndSection">

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:section_list' %}" class="sidebar-link">
                                    Section List
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:section_new' %}" class="sidebar-link">
                                    Add Section +
                                </a>
                            </li>

                        </ul>

                    </li>

                    <li class="sidebar-item">

                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#subject"
                            aria-expanded="false">
                            Subjects
                        </a>

                        <ul id="subject" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                            data-bs-parent="#classAndSection">

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:subject_list' %}" class="sidebar-link">
                                    Subject List
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="{% url 'dashboard:subject_new' %}" class="sidebar-link">
                                    Add Subject +
                                </a>
                            </li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li class="sidebar-item">

                <a class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#attendance"
                    aria-expanded="false">
                    <i class="fa-solid fa-clipboard-user"></i> Attendance
                </a>

                <ul id="attendance" class="sidebar-dropdown list-unstyled collapse bg-primary-subtle"
                    data-bs-parent="#classAndSection">

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:attendance_index' %}" class="sidebar-link">
                            Attendance
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a href="{% url 'dashboard:section_attendance_report' %}" class="sidebar-link">
                            Section Report
                        </a>
                    </li>

                </ul>

            </li>

            <li class="sidebar-header">
                Others
            </li>

            <li class="sidebar-item">
                <a href="/admin" class="sidebar-link" target="_blank">
                    <i class="fa-solid fa-user-gear"></i> Super Admin
                </a>
            </li>

        </ul>

    </div>

</aside>