{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <title>{% block title %} Dashboard {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <!-- ======== Main wrapper for dashboard =========== -->
    {% include 'dashboard/components/_notification.html' %}

    <div class="wrapper">

        <!-- =========== Sidebar for admin dashboard =========== -->
        {% include 'dashboard/components/_sidebar.html' %}

        <!-- ========= Main section of dashboard ======= -->
        <div class="main">

            <!-- ========= Main navbar section of dashboard ======= -->
            {% include 'dashboard/components/_navbar.html' %}

            <!-- ========= Main content section of dashboard ======= -->
            <main class="content">

                <div class="container-fluid">
                    <div class="mb-3">


                        {% block content %}
                        {% endblock %}

                    </div>
                </div>

            </main>

            <!-- ========= light and dark mode toggle button ======= -->

            {% include 'dashboard/components/_fab.html' %}

            <!-- ========= footer section of dashboard ======= -->
            {% include 'dashboard/components/_footer.html' %}

        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"></script>
        <script src="{% static 'js/dashboard/script.js' %}"></script>
</body>

</html>