{% extends 'base/base.html' %}

{% block title %} Student Detail {% endblock %}

{% block content %}
<div class="container">
    <h1>Student Detail</h1>
    <p>ID: {{ student.student_id }}</p>
    <p>Name: {{ student.name_en }}</p>
    <p>Birth ID: {{ student.birth_certificate_no }}</p>
    <p>Father's Name: {{ student.fathers_name_en }}</p>
    <p>Date Of Birth: {{ student.dob }}</p>

    <a href="{% url 'school:student_list' %}" class="btn btn-primary">Back</a>
    <a href="{% url 'school:student_edit' student.id %}" class="btn btn-warning">Update</a>
    <a href="{% url 'school:student_delete' student.id %}" class="btn btn-danger">Delete</a>
</div>

{% endblock %}