{% extends 'base/base.html' %}

{% block title %} {{ student.name_en }} {% endblock %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <h1>Student Detail</h1>
    <hr>

    <div class="card">
        <div class="card-header">
            <h4>Personal Information</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Name (English):</strong> {{ student.name_en }}</p>
                    <p><strong>Name (Bangla):</strong> {{ student.name_bn }}</p>
                    <p><strong>Date of Birth:</strong> {{ student.dob }}</p>
                    <p><strong>Gender:</strong> {{ student.get_gender_display }}</p>
                    <p><strong>Religion:</strong> {{ student.get_religion_display }}</p>
                    <p><strong>Blood Group:</strong> {{ student.blood_group }}</p>
                    <p><strong>Student ID:</strong> {{ student.student_id }}</p>
                    <p><strong>Birth Certificate Number:</strong> {{ student.birth_certificate_no }}</p>
                </div>
                <div class="col-md-6">
                    {% if student.image %}
                    <img src="{{ student.image.url }}" alt="Profile Picture" class="img-fluid"
                        style="height: 200px; width: 200px;">
                    {% elif student.gender == 'M' %}
                    <img src="{% static 'assets/images/default-male.jpg' %}" alt="Profile Picture" class="img-fluid"
                        style="height: 200px; width: 200px;">
                    {% else %}
                    <img src="{% static 'assets/images/default-female.jpg' %}" alt="Profile Picture" class="img-fluid"
                        style="height: 200px; width: 200px;">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Contact Information</h4>
        </div>
        <div class="card-body">
            <p><strong>Mobile Number:</strong> {{ student.mobile_no }}</p>
            <p><strong>Email:</strong> {{ student.email }}</p>
            <p><strong>Present Address:</strong> {{ student.present_address }}</p>
            <p><strong>Permanent Address:</strong> {{ student.permanent_address }}</p>
            <p><strong>Nationality:</strong> {{ student.nationality }}</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Father's Information</h4>
        </div>
        <div class="card-body">
            <p><strong>Name (English):</strong> {{ student.fathers_name_en }}</p>
            <p><strong>Name (Bangla):</strong> {{ student.fathers_name_bn }}</p>
            <p><strong>Occupation:</strong> {{ student.fathers_occupation }}</p>
            <p><strong>NID:</strong> {{ student.fathers_nid }}</p>
            <p><strong>Mobile Number:</strong> {{ student.fathers_mobile_no }}</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Mother's Information</h4>
        </div>
        <div class="card-body">
            <p><strong>Name (English):</strong> {{ student.mothers_name_en }}</p>
            <p><strong>Name (Bangla):</strong> {{ student.mothers_name_bn }}</p>
            <p><strong>Occupation:</strong> {{ student.mothers_occupation }}</p>
            <p><strong>NID:</strong> {{ student.mothers_nid }}</p>
            <p><strong>Mobile Number:</strong> {{ student.mothers_mobile_no }}</p>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h4>Other Information</h4>
        </div>
        <div class="card-body">
            <p><strong>Admission Date:</strong> {{ student.admission_date }}</p>
            <p><strong>Admission Class:</strong> {{ student.admission_class }}</p>
            <p><strong>Comment:</strong> {{ student.comment }}</p>
            <p><strong>Status:</strong> {{ student.status }}</p>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-header">
            <h4>Action : </h4>
        </div>
        <div class="card-body">

            <div class="button-group float-right">
                <a href="{% url 'school:student_list' %}" class="btn btn-primary">Back</a>
                <a href="{% url 'school:student_edit' student.student_id %}" class="btn btn-warning">Update</a>
                <a href="{% url 'school:student_delete' student.student_id %}" class="btn btn-danger">Delete</a>
            </div>
            <hr>
            <div class="button-group float-right">
                <h4>Attendance Section</h4>
                <a href="{% url 'school:attendance_report_detail' student.student_id %}"
                    class="btn btn-success">Attendance Report</a>
                <a href="{% url 'school:attendance_add' student.student_id %}" class="btn btn-warning">Add
                    Attendance</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}